@model FinanceBag.ViewModel.AllTables
@{
    ViewData["Title"] = "Index";
}
<partial name="_Notification"/>
<h1>Аналитика портфеля</h1>
<h6>Кол-во унивкальных бумаг : @Model.All.Count()</h6>


<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                TypeOfActive_id
            </th>
            <th>
                Тикер 
            </th>
            <th>
                ISIN
            </th>
            <th>
                Дата/Время
            </th>
        </tr>
    </thead>
    <tbody>
@*            @foreach (var obj in Model.All )
            {
                    <tr>
                       <td width:auto>
                       @obj.Actives.TypeOfActive_id
                       </td>
                       <td width:auto>
                       @obj.Actives.Ticker
                       </td>
                       <td width:auto>
                       @obj.ISIN_id
                       </td>
                       <td width:auto>
                       @obj.DT
                       </td>
                       <td width:auto>
                       @obj.Count
                       </td>
                    </tr>


            }*@
    </tbody>
</table>
</div>