@model IEnumerable<Deal>
@{
    ViewData["Title"] = "Index";
}
<partial name="_Notification"/>
<h3 style="text-align:center">Затраты по месяцам</h3>
<h6>Кол-во записей в таблице : @Model.Count()</h6>

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Первичный ключ
            </th>
            <th>
                ISIN 
            </th>
            <th>
                Дата/Время
            </th>
            <th>
                Кол-во
            </th>
            <th>
                Цена
            </th>
            <th>
                Сумма
            </th>
        </tr>
    </thead>
    <tbody>
            @foreach (var obj in Model)
            {
                    <tr>
                        <td width:auto>
                        @obj.Deal_id
                        </td>
                        <td width:auto>
                        @obj.ISIN_id
                        </td>
                         <td width:auto>
                        @obj.DT
                         </td>
                         <td width:auto>
                        @obj.Count
                         </td>
                         <td width:auto>
                        @obj.Price
                         </td>
                         <td width:auto>
                        @obj.Sum
                         </td>
                    </tr>
            }
    </tbody>
</table>
</div>